---
import Layout from "../layouts/ProjectPost.astro";
---

<Layout
  title="About Me"
  description="This is my about me page."
  pubDate={new Date("June 9 2025")}
  heroImage="/blog-placeholder-about.jpg"
>
  <span>
    Hello! This portfolio contains a collection of projects I have worked on.
  </span>
  <p>Let's get in touch!</p>
  <a href="mailto:asgold8@gmail.com" class="text-blue-600 underline">
    asgold8@gmail.com
  </a>
</Layout>
